{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Site Name</th>
        <th>URL</th>
        <th><button class="btn btn-sm btn-warning">M</button></th>
        <th><button class="btn btn-sm btn-danger">D</button></th>
    </tr>

    </thead>
    {%for object in object_list%}
    <tr>
        <td><a href="{% url 'bookmark_detail' object.id %}">{{object.id}}</td>
        <td> {{object.site_name}}</td>
        <td><a href="{{object.url}}" target="_blank">이동</a> </td>
        <td><a href="{% url 'bookmark_update' object.id %}">수정</a></td>
        <td><a href="{% url 'bookmark_delete' object.id %}">삭제</a></td>

{%endfor%}

    </tr>


</table>

<a href="{% url 'bookmark_create' %}" class="btn btn-lg btn-primary"> 등록</a>
{%endblock %}